* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}

.container {
    background-image: url("images/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    position: relative;
    height: 650px;
     
}

.blackbox {
    height: 650px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
    position: relative;
    z-index: 10;
}

.logo img {
    width: 130px;
    position: relative;
    z-index: 10;
}

button {
    margin: 5px;
    font-size: 15px;
    background-color: rgb(229, 9, 20);
    color: white;
    padding: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 76px;
}

button:hover {
    border: 2px solid white;
    text-decoration: underline;
    background-color: rgba(227, 45, 45, 0.477);
}

.hero {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 100px;
    position: relative;
    z-index: 10;
}

.hero span {
    font-size: 75px;
}

.hero span:nth-child(5) {
    font-size: 30px;
}

.hero p {
    font-size: 18px;
    margin-top: 20px;
}

.hero input {
    font-size: 20px;
    height: 50px;
    width: 30vw;
    opacity: 0.45;
    color: white;
}

.inbu {
    display: flex;
    align-items: center;
}

.hero button {
    font-size: 20px;
    width: 300px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.in button img {
    align-self: center;
    color: white;
}

.get-started-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 220px;
    background-color: rgb(229, 9, 20);
    color: white;
    padding: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.arrow img {
    height: auto;
    width: 70%;
    filter: invert(1);
    background-color: transparent;
}

@media screen and (max-width: 700px){

}

.separation{
    width: 100vw;
    height: 2px;
    background-color: gray;
    z-index: 20;
}

.first{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 70vw;
    height: 400px;
    margin: auto;
}

.secimg{
    position: relative;
}

.secimg img{
    width: 500px;
    position: relative;
    z-index: 10;
}

.secimg video{
    width: 360px;
    position: absolute;
    top: 21%;
    left: 14%;
}

.text span{
    filter: invert(1);
    font-size: 75px;
}

.text span:nth-child(2){
    font-size: 30px;
    display: block;
}

.faq{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 70vw;
    height: 800px;
    margin: auto;
    flex-direction: column;
    gap: 25px;
}

h3{
    color: white;
    font-size: 50px;
    margin-top: 35px;
}

.faq span {
    width: 60vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

.faqbox{
    transition: all 2s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    align-items: center;
    height: 50px;
    padding: 24px;
    max-width: 70vw;
    margin: 10px auto;
    cursor: pointer;
}

.faqbox svg{
    filter: invert(1);
    margin: auto;
    padding: 10px;
    width: 35px;
    height: 45px;
}

footer{
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

.questions{
    font-size: 24px;
    filter: invert(1);
}

.footer-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-item a{
    color: white;
}